# Application
APP_NAME="Invenstux"
APP_ENV=development
APP_URL=http://localhost/inventory-system/public
APP_DEBUG=true

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=inventory_db
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

# Session
SESSION_NAME=ims_session
SESSION_LIFETIME=120

# Default Admin 
ADMIN_EMAIL=
ADMIN_PASSWORD=
